html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --background_clr: rgb(227, 233, 240);
  --white: white;
  --sidebar-clr: rgb(18, 147, 213);
  --grey-clr: rgb(58, 58, 58);
  --grey-txt-clr: grey;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 20fr;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  grid-row: 1 / span 2;
  background-color: var(--sidebar-clr);
  height: 100vh;
  color: var(--white);
}

.header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 150px;
  box-shadow: 0px 3px 5px #b3b2b2;
}



.main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  background-color: var(--background_clr);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 4fr 1fr;
  color: var(--grey-clr);
  margin-top: 5px;
}

.right-side {
  align-items: center;
  justify-items: center;
  padding-top: 30px;
}

.card-container {
  grid-row: 1 / span 3;
  display: grid;
  grid-template-rows: 50px 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
  padding-bottom: 100px;
  padding-top: 0;
  height: 800px;
  
}

.card-container h3 {
  grid-column: 1/3;
  height: 50px;
  font-size: 20px;
  font-weight: 1000;
  display: flex;
  align-items: flex-end;
}

.project-card {
  background-color: var(--white);
  border-radius: 10px;
  border-left: 10px solid orange;
  padding: 30px;
  box-shadow: 2px 2px 2px #b3b2b2;
}

.project-card h4 {
  font-size: 18px;
  font-weight: 700;
}

.project-card p {
  margin-top: 10px;
  color: var(--grey-txt-clr);
}

.card-icons {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card-icons img {
  height: 30px;
  filter: brightness(0%);
  padding-left: 20px;
}

.announcements {
  grid-row: 1 / span 1;
  background-color: var(--background_clr);
  padding-right: 30px;
}

.announcements h3 {
  height: 50px;
  font-size: 20px;
  font-weight: 1000;
}

.announcement-container {
  background-color: var(--white);
  height: 335px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 2px 2px 2px #b3b2b2;
}

.announce h6 {
  font-weight: 1000;
  font-size: 16px;
}

.announce p {
  font-size: 14px;
  padding-top: 5px;
  color: var(--grey-txt-clr);
}

.announce hr {
  margin: 15px 0px 15px 0px;
}

.trending {
  grid-row: 2 / span 1;
  background-color: var(--background_clr);
  display: grid;
  padding-right: 30px;
  margin-top: 40px;
  gap: 0px;
}

.trending h3 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 1000;
}

.trending-container {
  background-color: var(--white);
  height: 215px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 2px 2px 2px #b3b2b2;
}

.trending-profile {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 5px;
}

.trending-profile img {
  height: 50px;
  border-radius: 50%;
  grid-row: 1/3;
  margin-right: 20px;
}

.trending-profile h6{
  font-weight: 600;
  height: 16px;
  padding-top: 5px;
}

.trending-profile p {
  color: var(--grey-txt-clr);
  font-size: 15px;
}